* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    margin-right: 60%;    
    display:inline-flex;
}
.App-logo{
  width: 15%;
}
.App-text{
  font-size: 26px;
  font-weight: bolder;
  color: #f4511e;
}
.App {
  background-color: #fdfbf6; 
  font-size: 15px;
  color: beige;
  min-height: 100vh;
}
.content{
  justify-content: space-between;
}
h2{
  color: rgb(37, 25, 25);
  text-align: center;
}
h4{
  color: rgb(66, 49, 49);
  text-align: center;
}

.App-link {
  color: #61dafb;
}


.buttons{
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px; 
    flex-direction: row;
    display: flex;
    }


button{
  background-color: #f4511e;
    border: #272525;
    font-size: 20px;
    width: 150px;
    height: 100px;
}



button:hover {
  background-color: #fdfbf6;
  color: rgb(66, 49, 49);
}

header{
  color: #bd0000;
  font-size: 28px;
  background-color: #fdfbf6;
  justify-content:left;
}